{% block content %}
{% load static %}

{% include 'header.html' %}


 <!-- Header Start -->
 <div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Skill Check</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Skill Check</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;"></h5>
            <h1> Skill Check </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="contact-form bg-secondary rounded p-5">
                    <div id="success"></div>
                    <form action="addskill" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      
                     
                        <div class="control-group">
                            <input type="file" class="form-control border-0 p-4" id="name" name="image" placeholder="File" required="required" data-validation-required-message="Please enter DOB" />
                            <p class="help-block text-danger"></p>
                        </div>
                     
                       
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->



{% include 'footer.html' %}

{% endblock %}