{% block content %}
{% load static %}

{% include 'header.html' %}

 <!-- Header Start -->
 <div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Interview Calls</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Interview</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<table class="table">
    <thead>
        <tr>
            <th> Candidate Name</th>
            <th> Date</th>
            <th> Time</th>
            <th> Venue</th>
          
           
            <th>Passed</th>
            <th>Failed</th>
           
           
           
            
        </tr>
    </thead>
    <tbody>
        <tr>
          {% for i in result %}
            <td class="name-pr">{{i.c_name}}</td>
            <td class="name-pr">{{i.date}}</td>
            <td class="name-pr">{{i.time}}</td>
            <td class="name-pr">{{i.venue}}</td>
           
           
            <td class="add-pr">
                <a class="btn btn-primary " href="passed/{{i.id}}">Pass</a>
            </td>
            <td class="add-pr">
                <a class="btn btn-primary " href="fail/{{i.id}}">Fail</a>
            </td>
           
           

          
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}

{% endblock %}