{% block content %}
{% load static %}

{% include 'header.html' %}

 <!-- Header Start -->
 <div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Assigned Jobs </h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Job Assigned</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<br><br>
<table class="table">
    <thead>
        <tr>
            <th> Employee Name</th>
            <th> Job</th>
            <th> Description</th>
            <th> Status</th>
          
           
            <th>Start</th>
            <th>Completed</th>
           
           
           
            
        </tr>
    </thead>
    <tbody>
        <tr>
          {% for i in result %}
            <td class="name-pr">{{i.empid}}</td>
            <td class="name-pr">{{i.title}}</td>
            <td class="name-pr">{{i.description}}</td>
            <td class="name-pr">{{i.status}}</td>
           
           
            <td class="add-pr">
                <a class="btn btn-primary " href="jstart/{{i.id}}">Start</a>
            </td>
            <td class="add-pr">
                <a class="btn btn-primary " href="jcmplt/{{i.id}}">Completed</a>
            </td>
           
           

          
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}

{% endblock %}